.tree-select {
    display: inline-block;
    vertical-align: top;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

	.expand {
		cursor: pointer;
		width: 20px;
		display: inline-block;
		text-align: center;
	}
}